<!-- Section Services -->
<section id="services" class="pages">
  <div class="jumbotron" data-stellar-background-ratio="0.5">
     <!-- Heading -->
     <div class="jumbo-heading" data-stellar-background-ratio="1.2">
        <h1>Our Services</h1>
     </div>
  </div>
  <!-- container-->
  <div class="container">
     <div class="row">
        <div class="col-md-7">
           <h3>Everything for your Pet</h3>
           <p>Elit uasi quidem minus id omnis a nibh fusce mollis imperdie tlorem ipuset phas ellus ac sodales Lorem ipsum dolor Phas ellus 
              ac sodales felis tiam non metus. lorem ipsum dolor sit amet, consectetur adipisicing elit uasi quidem minus id omnis a nibh fusce mollis imperdie tlorem ipuset campas fincas
           </p>
           <!-- ul custom-->
           <ul class="custom no-margin">
              <li>Aliquam erat volut pat.</li>
              <li>Ibu lum orci eget, viverra elit liquam erat volut pat phas ellus ac.</li>
              <li>Aliquam erat volut pat phas ellu</li>
           </ul>
        </div>
        <!-- /col-md-7-->
        <div class="col-md-5">
           <img src="../../../assets/img/services.jpg" class="center-block img-responsive" alt="">
        </div>
        <!-- col-md-5-->
     </div>
     <!-- /row-->
     </div>
</section>
<!-- /Section ends -->
<!-- Section Services-index -->
<section id="services-index" class="bg-pattern"  data-bottom-top="background-position: 0px 0%,0% 0%;"
data-top-bottom="background-position: 0px -10%,50% -10%;">

<div class="container-fluid margin1">
   <div class="col-md-10 col-md-offset-1">
<!-- Services -->
      <div id="owl-services" class="owl-carousel">
         <!-- Feature Box 1  -->
         <div class="col-xs-12">
            <div class="box_icon">
               <div class="icon">
                  <!-- icon -->
                  <div class="image">
                     <img src="../../../assets/img/service1.jpg" class="img-responsive" alt="">
                  </div>
                  <div class="info">
                     <h4>Exotic Pets</h4>
                     <p>Nulla vel metus scelerisque ante sollicitudinlorem ipsuet commodo. Cras purus odio, vestibulum in vulputate a Imperdiet interdum donec eget metus auguen unc vel lorem.</p>
                     <!-- Button-->
                     <a class="btn" href="services-single.html">Read More</a>
                  </div>
               </div>
            </div>
            <!-- /box_icon -->
         </div>
         <!-- /col-xs-12 ends -->
         <!-- Feature Box 2 -->
         <div class="col-xs-12">
            <div class="box_icon">
               <div class="icon">
                  <!-- icon -->
                  <div class="image">
                     <img src="../../../assets/img/service2.jpg" class="img-responsive" alt="">
                  </div>
                  <div class="info">
                     <h4>Vet Services</h4>
                     <p>Nulla vel metus scelerisque ante sollicitudinlorem ipsuet commodo. Cras purus odio, vestibulum in vulputate a Imperdiet interdum donec eget metus auguen unc vel lorem.</p>
                     <!-- Button-->
                     <a class="btn" href="services-single.html">Read More</a>
                  </div>
               </div>
            </div>
            <!-- /box_icon -->
         </div>
         <!-- /col-xs-12 ends -->
         <!-- Feature Box 3  -->
         <div class="col-xs-12">
            <div class="box_icon">
               <div class="icon">
                  <!-- icon -->
                  <div class="image">
                     <img src="../../../assets/img/service3.jpg" class="img-responsive" alt="">
                  </div>
                  <div class="info">
                     <h4>Great Products</h4>
                     <p>Nulla vel metus scelerisque ante sollicitudinlorem ipsuet commodo. Cras purus odio, vestibulum in vulputate a Imperdiet interdum donec eget metus auguen unc vel lorem.</p>
                     <!-- Button-->
                     <a class="btn" href="services-single.html">Read More</a>
                  </div>
               </div>
            </div>
            <!-- /box_icon -->
         </div>
         <!-- /col-xs-12 ends -->
         <!-- Feature Box 4  -->
         <div class="col-xs-12">
            <div class="box_icon">
               <div class="icon">
                  <!-- icon -->
                  <div class="image">
                     <img src="../../../assets/img/service4.jpg" class="img-responsive" alt="">
                  </div>
                  <div class="info">
                     <h4>Pet Hotel</h4>
                     <p>Nulla vel metus scelerisque ante sollicitudinlorem ipsuet commodo. Cras purus odio, vestibulum in vulputate a Imperdiet interdum donec eget metus auguen unc vel lorem.</p>
                     <!-- Button-->
                     <a class="btn" href="services-single.html">Read More</a>
                  </div>
               </div>
            </div>
            <!-- /box_icon -->
         </div>
         <!-- /col-xs-12 ends -->
         <!-- Feature Box 5  -->
         <div class="col-xs-12">
            <div class="box_icon">
               <div class="icon">
                  <!-- icon -->
                  <div class="image">
                     <img src="../../../assets/img/service5.jpg" class="img-responsive" alt="">
                  </div>
                  <div class="info">
                     <h4>Dog Walking</h4>
                     <p>Nulla vel metus scelerisque ante sollicitudinlorem ipsuet commodo. Cras purus odio, vestibulum in vulputate a Imperdiet interdum donec eget metus auguen unc vel lorem.</p>
                     <!-- Button-->
                     <a class="btn" href="services-single.html">Read More</a>
                  </div>
               </div>
            </div>
            <!-- /box_icon -->
         </div>
         <!-- /col-xs-12 ends -->
      </div>
      <!-- /owl-services -->
   </div>
   <!-- /col-md-9 -->
</div>
<!-- /container-fluid-->
</section>