<!-- Section Team -->
<section id="adoption" class="pages">
  <div class="jumbotron" data-stellar-background-ratio="0.5">
     <!-- Heading -->
     <div class="jumbo-heading" data-stellar-background-ratio="1.2">
        <h1>Our Team</h1>
     </div>
  </div>
  <!-- container-->
  <div class="container">
     <div class="row text-center">
        <div class="col-lg-10 col-lg-offset-1">
           <h3>Meet our Team</h3>
           <p>You can contact our team member for any worry or personal assistance concerning your pets, or even technical advise useful to keep your pet healthy and feedy.
           </p>
        </div>
        <!-- /col-lg-10 -->
     </div>
     <!-- /row -->
     <div class="row margin1">
        <div class="owl-carousel" id="owl-team">
           <!-- Team member 1 -->
           <div class="team-wrap col-md-12">
              <div class="member text-center">
                 <div class="wrap">
                    <!-- Info -->
                    <div class="info">
                       <h3 class="name">John Doe</h3>
                       <h4 class="position">Veterinarian</h4>
                    </div>
                    <!-- /info -->
                    <!-- image -->
                    <img src="../../../assets/img/team/team1.jpg" alt="" class="img-circle img-responsive">                           
                 </div>
                 <!-- /wrap -->
                 <div class="more">
                    <!-- Description -->
                    <div class="social-media smaller">
                       <a href="team.html#" title="#" class="facebook"><i class="fa fa-facebook"></i></a>
                       <a href="team.html#" title="#" class="twitter"><i class="fa fa-twitter"></i></a>
                       <a href="team.html#" title="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                       <a href="team.html#" title="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>
                    <!-- /social-media -->
                 </div>
                 <!-- /more -->
              </div>
              <!-- / member -->
           </div>
           <!--/ team-wrap -->
           <!-- Team member 2 -->
           <div class="team-wrap col-md-12">
              <div class="member text-center">
                 <div class="wrap">
                    <!-- Info -->
                    <div class="info">
                       <h3 class="name">Maria Smith</h3>
                       <h4 class="position">Veterinarian</h4>
                    </div>
                    <!-- /info -->
                    <!-- image -->
                    <img src="../../../assets/img/team/team2.jpg" alt="" class="img-circle img-responsive">
                 </div>
                 <!-- /wrap -->
                 <div class="more">
                    <!-- Description -->
                    <div class="social-media smaller">
                       <a href="team.html#" title="#" class="facebook"><i class="fa fa-facebook"></i></a>
                       <a href="team.html#" title="#" class="twitter"><i class="fa fa-twitter"></i></a>
                       <a href="team.html#" title="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                       <a href="team.html#" title="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>
                    <!-- /social-media -->
                 </div>
                 <!-- /more -->
              </div>
              <!-- / member -->
           </div>
           <!--/ team-wrap -->
           <!-- Team member 3 -->
           <div class="team-wrap col-md-12">
              <div class="member text-center">
                 <div class="wrap">
                    <!-- Info -->
                    <div class="info">
                       <h3 class="name">Paula Larson</h3>
                       <h4 class="position">Assistant</h4>
                    </div>
                    <!-- /info -->
                    <!-- image -->
                    <img src="../../../assets/img/team/team3.jpg" alt="" class="img-circle img-responsive">
                 </div>
                 <!-- /wrap -->
                 <div class="more">
                    <!-- Description -->
                    <div class="social-media smaller">
                       <a href="team.html#" title="#" class="facebook"><i class="fa fa-facebook"></i></a>
                       <a href="team.html#" title="#" class="twitter"><i class="fa fa-twitter"></i></a>
                       <a href="team.html#" title="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                       <a href="team.html#" title="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>
                    <!-- /social-media -->
                 </div>
                 <!-- /more -->
              </div>
              <!-- / member -->
           </div>
           <!--/ team-wrap -->
           <!-- Team member 4-->
           <div class="team-wrap col-md-12">
              <div class="member text-center">
                 <div class="wrap">
                    <!-- Info -->
                    <div class="info">
                       <h3 class="name">Anna Luise </h3>
                       <h4 class="position">Pet Expert</h4>
                    </div>
                    <!-- /info -->
                    <!-- image -->
                    <img src="../../../assets/img/team/team4.jpg" alt="" class="img-circle img-responsive">
                 </div>
                 <!-- /wrap -->
                 <div class="more">
                    <!-- Description -->
                    <div class="social-media smaller">
                       <a href="team.html#" title="#" class="facebook"><i class="fa fa-facebook"></i></a>
                       <a href="team.html#" title="#" class="twitter"><i class="fa fa-twitter"></i></a>
                       <a href="team.html#" title="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                       <a href="team.html#" title="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>
                    <!-- /social-media -->
                 </div>
                 <!-- /more -->
              </div>
              <!-- / member -->
           </div>
           <!--/ team-wrap -->
           <!-- Team member 5 -->
           <div class="team-wrap col-md-12">
              <div class="member text-center">
                 <div class="wrap">
                    <!-- Info -->
                    <div class="info">
                       <h3 class="name">Marlon Mars</h3>
                       <h4 class="position">Sales Manager</h4>
                    </div>
                    <!-- /info -->
                    <!-- image -->
                    <img src="../../../assets/img/team/team5.jpg" alt="" class="img-circle img-responsive">
                 </div>
                 <!-- /wrap -->
                 <div class="more">
                    <!-- Description -->
                    <div class="social-media smaller">
                       <a href="team.html#" title="#" class="facebook"><i class="fa fa-facebook"></i></a>
                       <a href="team.html#" title="#" class="twitter"><i class="fa fa-twitter"></i></a>
                       <a href="team.html#" title="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                       <a href="team.html#" title="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>
                    <!-- /social-media -->
                 </div>
                 <!-- /more -->
              </div>
              <!-- / member -->
           </div>
           <!--/ team-wrap -->
        </div>
        <!-- /owl-team--> 
     </div>
     <!-- /row--> 
  </div>
  <!-- /container-->
</section>
<!-- /Section ends -->