<section id="review">
   <div class="jumbotron" data-stellar-background-ratio="0.5">
     <!-- Heading -->
     <div class="jumbo-heading" data-stellar-background-ratio="1.2">
       <h1>Shipping and Delivery</h1>
     </div>
   </div>
 
   <div class="terms">
     <div class="title">
       <h2>Shipping</h2>
       <br>
       <p>
         Shipments are delivered Monday through Friday. We do offer Saturday and Sunday delivery where available and at an additional charge. To place an order for Saturday and Sunday delivery, get rates or location availability; please <a href="cutegoldretrievers.com/contact">contact us</a>.
         Delivery times may vary as pets maybe ship from more than one location and certain pets could take up to 2 weeks for delivery. Item delivery times quoted are to USA areas and shipments to remote locations may also take longer. Prices and terms are subject to change without notice.
       </p>
       <br>
       <p>Shipping a pet to a new location always sounds cruel and embarrassing, but actually I think it is harder for us than the pet. All pets are well taken care of, moreover airlines can't malreat the pet for fear of lawsuit and customer unsatisfaction. Pets foods are taped, and feeding instructions place at the top of the crate, and frozen water in the crate, so it will gradually thaw out for the pet, and the pets are offered food along the ride.
      </p>
     </div>
     <div class="title">
       <h2>Delivery</h2>
       <br>
       <p>
         It's no news that signature is required at delivery; however, signature is not required for some shipping methods. nevertheless, thorough inspection must be made upon delivery and all damage noted on the delivery receipt. If the pet has any issue, delivery should be refused and cutegoldretrievers.com must be notified immediately. You must save all shipping and merchandise packaging.
       </p>
     </div>
     <div class="title">
       <h2>Return Policy</h2>
       <br>
       <p>
         If you are not completely satisfied with a pet, you may return it within 5 days from date received. Please note: pet(s) must be healthy as delivered, in original condition, including all accessories, and packaging. You must contact us to obtain a Return Authorization Number (RA#) and shipping instructions. Include a copy of the original invoice with your return and write your RA# visibly on the outside of the shipping package and on the packing slip. Please tell us why you are returning our pet, so that we can continue to improve our service. Returns that are shipped without an Return Authorization Number (RA#) may have processing delays up to 2 weeks and will be charged a 10% processing fee.
       </p>
       <br>
       <p>
         When requesting a refund, your original credit card will be credited once your return is processed. If you paid by check, your account will be credited. If using a prepaid gift card such as Visa, Mastercard, or American Express, please retain to ensure proper credit. When exchanging a pet, you will see a credit to your original pay method for the returned pet and a charge for the new pet, plus shipping and handling.
       </p>
     </div>
   </div>
 </section>