<!-- Footer -->
<footer>
  <!-- Contact info -->
  <div class="container">
    <div class="col-md-4 text-center">
      <!-- Footer logo -->
      <img src="../../../assets/img/golden-retriever/logo-02.png" alt="" class="center-block img-responsive">
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-2 text-left res-margin">
      <h5>More</h5>
      <ul class="list-unstyled">
        <li><a href="/testimonials">testimonials</a></li>
        <li><a href="/privacy">privacy policy</a></li>
        <li><a href="/termsOfService">terms-of-service</a></li>
      </ul>
    </div>
    <!-- /.col-md-4 -->
    <!-- /.col-md-4 -->
    <div class="col-md-4 text-left res-margin">
      <h5>Keep in touch</h5>
      <ul class="list-unstyled">
        <li><i class="fa fa-phone"></i>+1 (405) 212-4578</li>
        <li><i class="fa fa-envelope"></i>Email: <a
            href="mailto:info@gomezadorablepuppies.com">info@gomezadorablepuppies.com</a></li>
        <li><i class="fa fa-map-marker"></i>USA.</li>
      </ul>
    </div>
    <!-- /.col-md-4 -->
    <!-- <div class="col-md-4 text-center res-margin">
        <h5>Follow us</h5>
        <div class="social-media">
           <a href="/" title=""><i class="fa fa-twitter"></i></a>
           <a href="/" title=""><i class="fa fa-facebook"></i></a>
           <a href="/" title=""><i class="fa fa-whatsapp"></i></a>
           <a href="/" title=""><i class="fa fa-instagram"></i></a>
        </div>
     </div> -->
    <!-- /.col-md-4 -->
  </div>
  <!-- /.container -->
  <!-- Credits-->
  <div class="credits col-md-12 text-center">
    Copyright © 2022
    <!-- Go To Top Link -->
    <div class="page-scroll hidden-sm hidden-xs">
      <a href="#page-top" class="back-to-top"><i class="fa fa-angle-up"></i></a>
    </div>
  </div>
  <!-- /credits -->
</footer>
