<!-- Preloader -->
<div id="preloader">
  <div class="spinner">
    <div class="bounce1"></div>
  </div>
</div>
<!-- Preloader ends -->
<header>

  <nav class="navbar navbar-custom navbar-fixed-top">

    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand-centered">
          <i class="fa fa-bars"></i>
        </button>
        <div class="navbar-brand navbar-brand-centered page-scroll">
          <a href="/">
            <!-- logo  -->
            <img src="../../../assets/img/golden-retriever/logo-04.png"
              style="width: 70px; height: 60px; padding-top: 0px; padding-bottom: 5px; padding-left: 0px; padding-right: 0px;"
              class="img-responsive" alt="">
          </a>
        </div>
      </div>
      <!--/navbar-header -->
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-brand-centered">
        <ul class="nav navbar-nav">
          <li><a href="/"> Home</a></li>
          <li><a href="/about"> About</a></li>
          <li><a href="/contact"> Contact</a></li>
          <li><a href="/pets"> Puppies</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/testimonials"> Testimonials</a></li>
          <li><a href="/privacy"> Privacy Policy</a></li>
          <li><a href="/shipping-policy"> Shipping & Delivery</a></li>

        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>
  <!-- /navbar ends -->

</header>
