input[type=text] {
    width: 150px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    background-color: white;
    background-image: url('https://img.icons8.com/material/24/000000/search--v1.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
    width: 100%;
  }

  .top-bar .contact-details li:first-child {
    margin-left: 0px;
}
.top-bar .contact-details i {
    margin-right: 8px;
}
.top-bar .contact-details li {
    font-size: 15px;
    display: inline-block;
    line-height: 42px;
    font-weight:700;
    margin-left: 30px;
}
/* top-bar Social icons */
.search {
    float: right;
    padding-top: 0%;
    padding-left: 0%;

}