<section id="review">
  <div class="jumbotron" data-stellar-background-ratio="0.5">
    <!-- Heading -->
    <div class="jumbo-heading" data-stellar-background-ratio="1.2">
        <h1>Privacy Policy</h1>
    </div>
  </div>

  <div class="privacy">
    <div class="title">
      <h2>Privacy Policy</h2>
      <br>
      <p>
          This privacy policy describes how we handle your personal information. We collect and use some personal information to help our website work and to keep it safe (details below). In formal terms, Golden Retriever House, acting itself and through its subsidiaries, is the “data controller” of your personal information.
      </p>
    </div>
    <div class="title">
      <h2>Collection</h2>
      <br>
      <p>
          Information posted on site is obviously publicly available. Our servers are located in US. Therefore, if you choose to provide us with personal information, you are consenting to the transfer and storage of that information on our servers. We collect and store the following personal information:
      </p>
      <br>
      <p>
          Email address, physical contact information, and (depending on the service used) sometimes financial information;
          Computer sign-on data, statistics on page views, traffic to and from Pet Buy and Ad data (all through cookies – you can take steps to disable the cookies on your browser although this is likely to affect your ability to use the site);
          Other information, including users IP address and standard web log information.
        
      </p>
      <p>
          We use users’ personal information to:
          <br>
          <ul>
            <li>provide our services.</li>
            <li>resolve disputes, collect fees, and troubleshoot problems.</li>
            <li>encourage safe trading and enforce our policies</li>
            <li>customize users’ experience, measure interest in our services, and inform users about services and updates.</li>
            <li>communicate marketing and promotional offers to you.</li>
            <li>Do other things for users as described when we collect the information.</li>
          </ul>
      <!-- </p> -->
    </div>
    <div class="title">
      <h2>Disclosure</h2>
      <p>
          All information contained by us is treated as strictly confidential and we does not and will not disclose or share such confidential information to / with any external organization.
      </p>
      <ul>
        <li>All information contained by us is treated as strictly confidential and we does not and will not disclose or share such confidential information to / with any external organization.</li>
        <li> We may be required from time to time to disclose users’ personal information to Governmental or law enforcing agencies or our regulators, but we will only do so under proper authority.</li>
        <li>We also reserves the right to make use of the personal information in any investigation or judicial process relating to fraud on account of such transactions during the period cutegoldretrievers retains such information.</li>
        <li>We may also disclose personal information to enforce our policies, respond to claims that a posting or other content violates other’s rights, or protects anyone’s rights, property or safety.</li>
        <li>We may also share personal information with:
          <ul>
            <li> Corporate affiliates who help detect or prevent potentially illegal acts and provide joint services (Our corporate affiliates will market only to users who ask them to).</li>
            <li> Service providers who help with our business operations.</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="title">
      <h2>General</h2>
      <br>
      <p>
          We may update, upgrade, modify (partially &/or fully) this policy at any time, with updates taking effect after 30 days, whichever is sooner. If we or our corporate affiliates are involved in a merger or acquisition, we may share personal information with another company, but this policy will continue to apply.
      </p>
    </div>
  </div>

</section>