.price{
	margin-top: 0px;
    font-weight: bold;
    font-size: 20px;
    margin-bottom:1.2rem;
    color: #0a6f9ee3;
 }

 .text-light{
    color: #020a11!important;
}

.alert {
    background-color: #f7fbff;

}