<section id="review">
  <div class="jumbotron" data-stellar-background-ratio="0.5">
    <!-- Heading -->
    <div class="jumbo-heading" data-stellar-background-ratio="1.2">
      <h1>Terms of Service</h1>
    </div>
  </div>

  <div class="terms">
    <div class="title">
      <h2>Terms of Service</h2>
      <br>
      <p>
          Welcome to Lovely Golden Retriever House. These are the terms and conditions governing your use of the Site (“herein after referred to as Acceptable Use Policy “AUP”). By accessing us either through the website or any other electronic device, you acknowledge, accept and agree to the following terms of the AUP, which are designed to make sure that we works for everyone. This AUP is effective from the time you log in to site. By accepting this AUP, you are also accepting and agreeing to be bound by the Privacy Policy and the Listing Policy.
      </p>
      <br>
      <p>Cute Golden Retriever Deal In : Golden Retriever puppies.</p>
    </div>
    <div class="title">
      <h2>Termination of Service</h2>
      <br>
      <p>
          We have the right to terminate your access to any or all of the Services at any time, without notice, for any reason, including without limitation, breach of these Terms and Conditions. We may also at any time, at our sole discretion, discontinue the Website/Services or any part thereof without prior notice and you agree that we shall not be liable to you or any third party for any termination of your access to the Website/Services.
      </p>
    </div>
    <div class="title">
      <h2>Disclaimers and Limitation of Liability</h2>
      <br>
      <p>
          Use of the Website/Services is at your own risk. The Website/Services are provided on an “AS IS” and “AS AVAILABLE” basis without any representation or endorsement made and without warranty of any kind whether express or implied, including but not limited to the implied warranties of satisfactory quality, fitness for a particular purpose, non-infringement, compatibility, security and accuracy.
      </p>
      <br>
      <p>
          To the extent permitted by law, our Community will not be liable for any indirect or consequential loss or damage whatsoever (including without limitation loss of business, opportunity, data, profits) arising out of or in connection with the use of the Website/Services.
      </p>
    </div>
  </div>
</section>