<section id="adoption" class="pages">
  <div class="jumbotron" data-stellar-background-ratio="0.5">
      <!-- Heading -->
      <div class="jumbo-heading" data-stellar-background-ratio="1.2">
        <h1>Search Result</h1>
      </div>
  </div>
  <!-- container-->
  <div class="container">
    <!-- Breadcrumb -->
    <ul class="breadcrumb adopt">
      <li><a href="../../../../" >Home</a> <span class="divider"></span></li>
      <li><a href="../../../../pets" >Pets Gallery</a> <span class="divider"></span></li>
      <li class="active">Search Result</li>
    </ul>
 </div>

 <!-- search result -->
 <div class="row margin1">
  <div class="col-md-12 margin1">
      <div id="lightbox">
        <div class="col-lg-4 col-sm-6 col-md-6 cat" *ngFor="let pet of pets">
          <div class="isotope-item">
            <div class="adoption-thumb">
              <a href="../pet/{{pet.id}}"><img class="img-responsive img-circle" src="{{pet.image}}" alt="{{pet.name}}"></a>
              <!-- header-->							  
              <div class="adopt-header">
                <h4>{{pet.name}}</h4>
                <ul class="list-unstyled">
                  <li><strong>Gender:</strong> {{pet.gender}}</li>
                  <li><strong>Age:</strong> {{pet.age}}</li>
                  <li><strong>Price:<span style="color: #1e75a8;"> ${{pet.price}}</span></strong></li>
                </ul>
                <a class="btn" href="../pet/{{pet.id}}" >Purchase</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>