<!-- Section Testimonials -->
<section id="testimonials" class="pages">
   <div class="jumbotron" data-stellar-background-ratio="0.5">
      <!-- Heading -->
      <div class="jumbo-heading" data-stellar-background-ratio="1.2">
         <h1>Testimonials</h1>
      </div>
   </div>
   <!-- container-->
   <div class="container">
      <div class="row">
         <div class="col-md-5">
            <img src="../../../assets/img/golden-retriever/image-8.jpg" alt="" class="center-block img-responsive img-rounded">
         </div>
         <!-- /col-md-4 -->
         <div class="col-md-7 res-margin">
            <h3>Happy Customers</h3>
            <p>What our happy customers say about our healthy and loveable puppies. It is important to note that some of our puppies where abandonned and neglected along the street, and we always make sure to look for such dogs so as to treat and feed them in order to be ready and healthy for sheltering purpose by those interested.
            </p>
            <!-- alert -->
            <div class="alert alert-success">
               <p>We first thank you for using our platform to choose your puppy. We believe you taking a pet from us is not with bad intentions (eat, maltreat, rituals.. etc) but rather good intentions which include; looking for a friend, family member, companion, childrens' friend and all known good attitudes towards pets. For we believe pets are part of our everyday lifes, and part of our families, and need to be treated as good as family members are treated. Thanks.
               </p>
            </div>
            <!-- /alert -->
         </div>
         <!-- /col-md-8 -->
      </div>
      <!-- row -->
      <!-- Reviews -->
      <div id="owl-reviews" class="owl-carousel margin1">
         <!-- review 1 -->
         <div class="review">
            <div class="col-xs-12">
               <!-- caption -->
               <div class="review-caption">
                  <h5>Mary Clay</h5>
                  <div class="small-heading">
                     Dog Lover
                  </div>
                  <blockquote>
                     I have 3 children and had only one puppy. It was the first time that I had a place that the landlord allowed pets. I felt that my kids and my puppy needed a playmate. So I started poking around online and found cutegoldretrievers.com site and started looking at the pets they had. I found this wonderful little pup of 2 months old named Sandy and my kids immediatly fel in love with him. And i was more happy, so didn't wait for long for him to be dileverd. My children say thanks to Golden Retriever's House.
                  </blockquote>
               </div>
               <!-- Profile image -->
               <div class="review-profile-image">
                  <!-- <img src="../../../img/review1.jpg" alt=""/> -->
               </div>
               <!--/review profile image -->
            </div>
            <!-- /col-xs-12 ends -->
         </div>
         <!-- /review-->
         <!-- review 2 -->
         <div class="review">
            <div class="col-xs-12">
               <!-- caption -->
               <div class="review-caption">
                  <h5>Drew James</h5>
                  <div class="small-heading">
                     Dog Specialist
                  </div>
                  <blockquote>
                     So far it was great working with you cause of your reliable services. If your are a pet lover and loves newly born pets, then you need not go far cause your are already at the right place. happy living with your pets.
                  </blockquote>
               </div>
               <!-- Profile image -->
               <div class="review-profile-image">
                  <!-- <img src="../../../img/review2.jpg" alt=""/>                       -->
               </div>
               <!--/review profile image -->
            </div>
            <!-- /col-xs-12 ends -->
         </div>
         <!-- /review-->
         <!-- review 3 -->
         <div class="review">
            <div class="col-xs-12">
               <!-- caption -->
               <div class="review-caption">
                  <h5>Anishka </h5>
                  <div class="small-heading">
                     Dog Lovers
                  </div>
                  <blockquote>
                     I had to receive my pet "Mully" before sending any review. Fortunately my pretty Mully arrived to me while baking with her cute little voice. Am just glad it was worth taking the risk.
                  </blockquote>
               </div>
               <!-- Profile image -->
               <div class="review-profile-image">
                  <!-- <img src="../../../img/review3.jpg" alt=""/>                        -->
               </div>
               <!--/review profile image -->
            </div>
            <!-- /col-xs-12 ends -->
         </div>
         <!-- /review-->
         <!-- review 4 -->
         <div class="review">
            <div class="col-xs-12">
               <!-- caption -->
               <div class="review-caption">
                  <h5>Lou Lou</h5>
                  <div class="small-heading">
                     Veterinarian
                  </div>
                  <blockquote>
                     You can be assured all puppies available here are of good health cause they are constantly checked for health issues. A healthy puppy makes a good family member.
                  </blockquote>
               </div>
               <!-- Profile image -->
               <div class="review-profile-image">
                  <!-- <img src="../../../img/review4.jpg" alt=""/>                        -->
               </div>
               <!--/review profile image -->
            </div>
            <!-- /col-xs-12 ends -->
         </div>
         <!-- /review-->
         <!-- review 4 -->
         <div class="review">
            <div class="col-xs-12">
               <!-- caption -->
               <div class="review-caption">
                  <h5>James H.</h5>
                  <div class="small-heading">
                     Pet Lover
                  </div>
                  <blockquote>
                     Happy i received my boy and name sake 'James', though my delivery took a bit longer, but at the end am satisfied.
                  </blockquote>
               </div>
               <!-- Profile image -->
               <div class="review-profile-image">
                  <!-- <img src="../../../img/review5.jpg" alt=""/>                        -->
               </div>
               <!--/review profile image -->
            </div>
            <!-- /col-xs-12 ends -->
         </div>
         <!-- /review-->
      </div>
      <!-- /owl-carousel -->
   </div>
   <!-- /container-->
</section>
<!-- /Section ends -->